
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


:root {
    --primary-color: #FFA955;
    --background-primary-color: #FFF7F0;
    --border-primary-color: #FFCFA2;
    --light-primary-color: #FFBF80;
    --secondary-color: #683300;
    --gray-color: #7F7D7B;
    --transparent-025: rgba(255, 255, 255, 0.25);

    --small-radius: 8px;
    --mediusm-radius: 16px;
    --large-radius: 24px;

}

/*COMPONENTS*/  
.section-menu {
    padding-inline: 5%;
    padding-block: 100px;
}

.primary-button,
.light-button,
.secondary-button {
    padding: 8px 14px;
    font-size: 18px;
    border-radius: var(--small-radius);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
}

.hover-icon-right:hover i{
transform: translateX(4px);
}

.primary-button i,
.light-button i,
.secondary-button i{
   font-size: 24px;
   transition: 300ms ease;
}

.primary-button {
    background: var(--primary-color);
    color: white;
    border: 4px solid var(--transparent-025);
}

.light-button {
    background: white;
    color: var(--primary-color);
    border: 4px solid var(--border-primary-color);
}

.secondary-button {
    background: var(--secondary-color);
    color: white;
    border: 4px solid var(--transparent-025);
}

.section-title {
    font-family: 'Praise', cursive;
    font-size: 50px;
    color: var(--primary-color);
}
.section-title span{
   font-family: 'Praise', cursive;
   color: var(--secondary-color);
}

.section-desc{
    font-size: 20px;
}

 .text-field {
    background: var(--transparent-025);
    padding: 8px 12px;
    border-radius: var(--small-radius);
    border: 4px solid transparent;
    outline: none;
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 500;
    width: 100%;
    
  }

.text-field::placeholder {
    font-size: 16px;
  }

  .text-field--textarea  {
    resize: none;

  }

 

/* END COMPONENTS*/



/* 
HEADER */
.header {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    height: 100px;
    align-items: center;
    position: fixed;
    width: 100%;
    background: linear-gradient(to right,
     white, var(--background-primary-color));
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
z-index: 1;
}

.header_title {
    color: var(--primary-color);  
}
.header_title span {
    color: var(--secondary-color);
}

.header_menus {
    list-style: none;
    display: flex;
    gap: 24px;

}
.header_menus li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transform: 300ms ease;
    color: var(--secondary-color);
}

.header_menus li a:hover {
    color:var(--primary-color)
}

.header_menus li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    left: 0;
    bottom: -6px;
    transform: 300ms ease;

}
.header_menus li a:hover::after{
    width: 100%;
      
}
/* END HEADER*/ 


/*SECTION HOME*/
.section-home {
    padding-top: 130px;
    border: solid;
    display: flex;
    align-items: center;
    background: linear-gradient(to right,
               white, var(--background-primary-color));
     gap: 80px;
    min-height: 100dvh;   
   /* justify-content: space-between;           */
   flex-wrap: wrap-reverse;
   justify-content: center;
}

.section-home_title {
    line-height: 1.2;
    font-size: 48px;
    width: 500px;

}

.section-home_title span {
    color: var(--primary-color);

}
.section-home_buttons {
    display: flex;
    margin-top: 20px;
    gap: 16px;
}


.section-home_image {
    width:90%;
    min-width: 250px;
  max-width: 400px;
  
}
/* END SECTION HOME*/


/*SECTION MENUS*/
 .section-menus .section-title,
.section-menus .section-desc{
    text-align: center;
}

.section-menus_cards {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.section-menus_card {
    border: 3px solid var(--border-primary-color);
    width: 280px;
    border-radius: var(--mediusm-radius);
    display: flex;
    flex-direction: column;
      align-items: center;
      height: 240px;
      justify-content: end;
      margin-top: 0;
      cursor: pointer;
      padding: 24px;
}

.section-menus_card:hover {
    background: var(--primary-color);
    color: white;
    margin-top: 55px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.section-menus_card-image {
    width: 150PX;
}

.section-menus_card-title{
    font-size: 24px;
    margin-top: 8px;
}

.section-menus_card-rating {
    display: flex;
    align-items: center;
    margin-top: 4px;

}

.section-menus_card-rating i {
    color: #FFD600;
}


.section-menus_card-rating span {
    margin-left: 4px;
    font-size: 20px;
}

.section-menus_card-footer {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
margin-top: 14px;

}
.section-menus_card-price {
    font-weight: 600;
}

.section-menus_card-button--buy {
    border-radius: var(--large-radius);
}
 /* END SECTION MENUS */


/*SECTION ABOUT */
.section-about {
display: flex;
gap: 64px;
background: linear-gradient(to right ,
white , var(--background-primary-color));
justify-content: center;
position: relative;
overflow: hidden;
}
.section-about_content {
    max-width: 600px;
}

.section-about_image{
    max-width: 350PX;
    object-fit: scale-down;
}

.section-about_stats {
    display: flex;
    gap: 24px;
   margin-top: 16px;
   margin-bottom: 32px;
}

.section-about_stat {
    
    display: flex;
    align-items: center;
    gap: 16px;
}

.section-about_stat-number{
    font-size: 36px;
    color: var(--primary-color);
}
.section-about_stat-desc {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.5;
}

.section-about_stat-title {
    color: var(--secondary-color);
    
}

.section-about_image-background-1 {
    width: 150px;
    position: absolute;
    top: -50px;
    right: -50px;

}

.section-about_image-background-2 {
    width: 200px;
    position: absolute;
    right: -50px;
    bottom: -50px;

}
/*  END SECTION ABOUT*/


/*SECTION SERVICE */
.section-services_cards {
    margin-top: 64px;
    display: flex;
    gap: 32px;
    justify-content: space-between;

}

.section-services_card {
    padding:24px;
    transform: 300ms ease;
    cursor: pointer;
    width: 100%;

}

.section-services_card:hover {
  background-color: var(--primary-color);
  color: white;
  scale: 1.01;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.section-services_card:hover .section-services_card-icon {
background: var(--transparent-025);
}

.section-services_card:hover .section-services_card-icon  i {
    color: white;

}

.section-services_card-icon {
    background: var(--background-primary-color);
    width: fit-content;
     border-radius: 99px;
         transform: 300ms ease;
}

.section-services_card-icon i {
    font-size: 40px;
    padding: 12px;
    color: var(--primary-color);
    transform: 300ms ease;
}

.section-services_card-title {
    margin-top: 12px;

}
/* END SECTION SERVICE*/


/*section contact*/
  .section-contact {
    background: linear-gradient(to bottom , var(--primary-color), #FF9228);
  display: grid;  
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}

  .section-contact .section-title {
  color: white;

  }

  .section-contact_info-items {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .section-contact_info-item {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .section-contact_info-item-icon {
    background: var(--transparent-025);
    padding: 8px;
    display: flex;
    border-radius: 99px;
  }

  .section-contact_info-item-icon i {
    font-size: 24px;
  }

  .section-contact_info-item-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
  }

  .section-contact_info-item-link:hover {
    text-decoration: underline;
  }

  .section-contact_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .section-contact_form-button {
    margin-top: 16px;
    display: flex;
    font-weight: 500;
    justify-content: center;

  }
/*END section contact*/


/* FOOTER*/
.footer {
background: linear-gradient(rgba(255, 126, 0 , 0.8),
rgba(255, 126, 0, 0.8)),
url(images/top-view-table-full-food.jpg);
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 24px;
padding-inline-start: 5%;
gap: 8px;
}

.footer_title {
    color: white;
    font-family: 'Praise' , cursive;
    font-size: 50px;
}

.footer_title span {
    color: var(--secondary-color);
    font-family: 'Praise' , cursive;
}

.footer_menus {
    display: flex;
    gap: 24px;
}

.footer_menus li {
    list-style: none;
}

.footer_menus li a{
text-decoration: none;
color: white;
}

.footer_menus li a:hover {
    text-decoration: underline;

}

.footer_divider {
    width: 100%;
    height: 3px;
    background: var(--secondary-color);
    margin-block: 8px;
}

.footer_copyright {
    opacity: 0.7;
}

/*END FOOTER*/


.header_menu-toggle{
    display: none;
}




@media screen and (max-width: 768px){

    /* COMPONENTS */
  .section-menu {
   padding-block: 50px;
   
  }

    /* END COMPONENTS */

    /*HEADER*/
.header_menu-toggle{
 display: block;
 font-size: 3rem;
 cursor: pointer;   
}

.header_menu-toggle .bx-x {
    display: none;
 }

.header_menus{
    position: absolute;
    top: 100px;
    background: linear-gradient(to right, white, var(--background-primary-color));
    flex-direction: column;
    width: 100%;
    left: 0;
    padding-inline-start: 5%;
     height: 0;
     overflow: hidden;
     transition: 300ms ease;

}

.header_menus.active {
    height: 300px;
    padding-block: 24px;
}

.header_menus.active~.header_menu-toggle .bx-menu {
    display: none;
}

.header_menus.active~.header_menu-toggle .bx-x {
 display: block;

}
/*END HEADER*/


 /*SECTION HOME*/
.section-home {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 130px;
}
.section-home_image{
    max-width: 250px;

}

.section-home_title {
    font-size: 2rem;
    width: 100%;

}


/*END SECTION HOME*/

    
     /* SECTION-ABOUT  */

.section-about{
    flex-direction: column-reverse;
}

.section-about_image-background-2 {
    display: none;
}

 /* END SECTION ABOUT */

   /* SECTION SERVICES */
.section-services_cards{
    flex-direction: column;
}
    
   /* END SECTION SERVICES */
    

   /*SECTION CONTACT*/
 
   .section-contact {
    grid-template-columns: repeat(1, 1fr);
   }

   /* END SECTION CONTACT */

    /* FOOTER */
    .footer_menus {
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .footer_copyright {
        text-align: center;
    }


   /* END FOOTER */
}