
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


:root {
    --primary-color: #FFA955;
    --background-primary-color: #FFF7F0;
    --border-primary-color: #FFCFA2;
    --light-primary-color: #FFBF80;
    --secondary-color: #683300;
    --gray-color: #7F7D7B;
    --transparent-025: rgba(255, 255, 255, 0.25);

    --small-radius: 8px;
    --mediusm-radius: 16px;
    --large-radius: 24px;

}

/*COMPONENTS*/  

.section-menu {
    padding-inline: 5%;
    padding-block: 100px;
}

.primary-button,
.light-button {
    padding: 8px 14px;
    font-size: 18px;
    border-radius: var(--small-radius);
    font-weight: 600;
    cursor: pointer;
}

.primary-button {
    background: var(--primary-color);
    color: white;
    border: 4px solid var(--transparent-025);
}
/* END COMPONENTS*/

.header {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    height: 100px;
    align-items: center;
    position: fixed;
    width: 100%;

}

.header_title {
    color: var(--primary-color);  
}
.header_title span {
    color: var(--secondary-color);
}

.header_menus {
    list-style: none;
    display: flex;
    gap: 24px;

}
.header_menus li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transform: 300ms ease;
    color: var(--secondary-color);
}

.header_menus li a:hover {
    color:var(--primary-color)
}

.header_menus li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    left: 0;
    bottom: -6px;
    transform: 300ms ease;

}
.header_menus li a:hover::after{
    width: 100%;
      
}
/* END HEADER*/ 

/*SECTION HOME*/

.section-home {
    padding-top: 130px;
    border: solid;
    display: flex;
    align-items: center;
    background: linear-gradient(to right,
               white, var(--background-primary-color));
               gap: 80px;
               min-height: 100dvh;   
               justify-content: space-between;          
}
.section-home_title {
    line-height: 1.2;
    font-size: 48px;
    width: 500px;

}

.section-home_title span {
    color: var(--primary-color);

}
.section-home_buttons {
    display: flex;
    margin-top: 20px;
    gap: 16px;
}


.section-home_image {
    width:90%;
  max-width: 400px;
  
}

/* END SECTION HOME*/


